.widgetSm {
  flex: 1;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
  padding: 20px;
  margin-right: 20px;
}
.widgetTitle {
  font-size: 20px;
  font-weight: 600;
}
.widgetSmImg {
  width: 40px;
  height: 40px;
  border-radius: 45%;
  object-fit: cover;
}
.widgetSmList {
  margin: 0;
  padding: 2px;
  list-style: none;
}
.widgetSmlistItem {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 20px 0px;
}
.widgetSmUser {
  display: flex;
  flex-direction: column;
}
.widgetSmUsername {
  font-weight: 800;
}
.widgetCarrer {
  font-weight: 400;
}
.widgetButton {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 7px 10px;
  background-color: #eeeef7;
  color: #555;
  cursor: pointer;
}
.widgetSmIcon svg {
  font-size: 20px;
  margin-right: 0px;
}
